.cart-page {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    width: 70%;

    @media screen and (max-width: 760px) {
      width: 90%;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
    padding-bottom: 20px;
    margin-bottom: 50px;
    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }

  &__description {
    display: flex;

    @media screen and (max-width: 500px) {
      display: none;
    }

    h2 {
      font-size: 32px;
      margin-left: 10px;

      @media screen and (max-width: 760px) {
        font-size: 24px;
      }
    }
  }

  &__clean {
    display: flex;
    align-items: center;

    @media screen and (max-width: 760px) {
      font-size: 24px;
    }

    span {
      margin-left: 10px;
      color: rgba($color: #000000, $alpha: 0.45);

      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }

  &__order-button {
    padding: 10px 30px;
    margin-top: 50px;
    background-color: #fe5f1e;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #ffffff;
      color: #fe5f1e;
      border: 2px solid #fe5f1e;
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      margin-bottom: 50px;
    }
  }
}
